* {
    margin: 20px;
    font-family: "Poppins", sans-serif;
}



.red {
    background-color: red;
    width: 5%;
    height: 5%;
    position: absolute;
    top: 1%;
    right:9%;
} .green {
    background-color: green;
    width: 5%;
    height: 5%;
    position: absolute;
    top: 1%;
    right:15%;
}

.redh {
    position: absolute;
    top: 3%;
    right:9%;
} .greenh {
    position: absolute;
    top: 3%;
    right:15%;  
}

.info {
    width: 60%;
}

h1 {
    font-size: 46px;
}

p {
    font-size: 34px;    
}

img {
    position: absolute;
    right: 25px;
    top: 105px;
    width: 35%;
}

.img2 {
    position: absolute;
    right: 25px;
    top: 1px;
    width: 35%;
}

.otv {
    position: absolute;
    right: 25px;
    top: 70%;
    background-color: azure;
    width: 37%;
    height: 300%;
}

.otv2 {
    position: absolute;
    right: 25px;
    top: 70%;
    background-color: azure;
    width: 37%;
    height: 300%;
}